{% extends 'base.html' %}
{% load static %}

{% block title %}Product{% endblock %}

{% block content %}
<div class="container">

    {% include 'store/topbar.html' %}

    <div class="row">
        <div class="col-auto">
            <div class="simple-gallery">
                <img class="product-image" src="{{product.image.url}}">
            </div>


        </div>

        <div class="col">
            <div>
                <small>Item #{{product.id}}</small>
                <div class="row">
                    <div class="col-auto">
                        <h4 class="heading" style="font-weight: 800;">{{product.title}}</h4>
                        <h4 class="mb-3 mt-1 price">&#8358;{{product.price}}</h4>

                    </div>
                </div>
                <hr>

                <div class="row">
                    <span class="product-categories">
                        Categories:
                        {% for category in product.categories.all %}
                        <a class="categories" href="{{ category.get_absolute_url }}">{{category.name}}</a>
                        {% endfor %}
                    </span>
                </div>
                <div class="row w-50">
                    <button type="button" class="btn btn-primary addtocart-button" data-product={{product.id}}>Add to Cart</button>
                </div>
            </div>
        </div>


    </div>

    <div class="row pt-4">
        <h5 style="font-weight: 800;">Description</h5>
        <p class="product-description">
            {{product.description}}...
        </p>
    </div>
</div>

<!-- Modals -->
<div id="orderSuccessModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="icon-box">
                    <i style="font-size: 36px;" class="bi bi-check2"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Great!</h4>	
                <p>Item(s) has been added to your cart.</p>
            </div>
        </div>
        <div class="modal-footer" style="display: block;">
            <button type="button" class="btn btn-secondary" id="closeSuccessModal" style="display: block; width: 100%;" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    window.onload = () => {

        $("input[type='number']").inputSpinner();
        function orderSuccess() {
            $('#closeOrderModal').click()
            $('#orderSuccessModal').modal('show');
        }

        $(document).on('click', '.addtocart-button', function (e) {
            e.preventDefault();
            btn = e.target
            product_id = btn.getAttribute('data-product')
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_add" %}',
                data: {
                    productid: product_id,
                    productqty: 1,
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    orderSuccess()
                    document.getElementById("basket-qty").innerHTML = json.qty
                },
                error: function (xhr, errmsg, err) { }
            });



        })

    }
</script>
{% endblock %}