{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block content %}
<div class="container">
    
    {% include 'store/topbar.html' %}

    <div class="d-flex flex-wrap" style="gap: 10px;">
        {% for product in products %}
        <div class="card w-25">
            <img src="{{product.image.url}}" class="card-img-top" alt="{{product.title}}">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: 500px; color: #0000; line-height: 21px;"><a style="text-decoration: none; font-weight: 500; color:black; line-height: 21px;" href="{{ product.get_absolute_url }}">{{product.title }}</a></h5>
                <p class="card-text me-auto">&#8358; {{ product.price }}</p>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-primary addtocart-button" data-product={{product.id}}>Add to Cart</a>
                </div>
            </div>
        </div>
        {% empty %}
        <span>No product available at the moment...</span>
        {% endfor %}
    </div>
</div>



<!-- Modals -->
<div id="orderSuccessModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <div class="icon-box">
                    <i style="font-size: 36px;" class="bi bi-check2"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Great!</h4>	
                <p>Item(s) has been added to your cart.</p>
            </div>
        </div>
        <div class="modal-footer" style="display: block;">
            <button type="button" class="btn btn-secondary" id="closeSuccessModal" style="display: block; width: 100%;" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<!-- Modals End -->
{% endblock %}

{% block script %}
<script>
    window.onload = () => {

        $("input[type='number']").inputSpinner();


        function orderSuccess() {
            $('#closeOrderModal').click()
            $('#orderSuccessModal').modal('show');
        }

        $(document).on('click', '.addtocart-button', function (e) {
            e.preventDefault();
            btn = e.target
            product_id = btn.getAttribute('data-product')
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_add" %}',
                data: {
                    productid: product_id,
                    productqty: 1,
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    orderSuccess()
                    document.getElementById("basket-qty").innerHTML = json.qty
                },
                error: function (xhr, errmsg, err) { }
            });



        })

    }
</script>
{% endblock %}