{% extends 'base.html' %}
{% load static %}

{% block title %}Service Categories{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{category.name}}</li>
        </ol>
    </nav>


    {% include 'store/topbar_service.html' %}
    

    <div class="d-flex flex-wrap" style="gap: 10px;">
        {% for service in services %}
        <div class="card item-card">
            <img src="{{service.image.url}}" class="card-img-top item-img" alt="{{service.title}}">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: 500px; color: #0000; line-height: 21px;"><a
                        style="text-decoration: none; font-weight: 500; color:black; line-height: 21px;"
                        href="{{ service.get_absolute_url }}">{{service.title }}</a></h5>
                <p class="card-text me-auto">&#8358; {{ service.price }}</p>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-primary">Hire</a>
                </div>
            </div>
        </div>
        {% empty %}
        <span>No service in this category yet...</span>
        {% endfor %}
    </div>
</div>
{% endblock %}