<div class="d-flex justify-content-between mb-4 flex-wrap">
    <div class="d-flex flex-wrap w-100">
        <form class="d-flex"  id="search-form" method="get" action="{% url 'store:search' %}">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" style="font-size:24px"></i></span>
                <input type="text" class="form-control" placeholder="Search Products and Services" aria-label="Username"
                    aria-describedby="basic-addon1" name="q" required>
            </div>
            <button class="btn mb-3 ">Submit</button>
        </form>
    </div>

    <div class="d-flex flex-wrap" style="gap: 10px;">
        {% for category in service_categories %}
        <span>
            <a href="{{category.get_absolute_url}}">
                <div style="text-align: center;"><i class="{{category.icon}}" style="font-size:24px; color: black;"></i></div>
                <span style="color: black;">{{category.name}}</span>
            </a>
        </span>
        {% endfor %}
    </div>
</div>