{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <h2>About Us</h2>
    <p>
        ShopBeta is an online marketplace that offers procurement efficiency, affordability, accessibility, convenience
        to
        diverse customers. Our vision is to become the largest one-stop shop for all products and services in Nigeria,
        addressing the logistical and infrastructural gaps in goods and services value chain across Nigeria.

        We started ShopBeta to provide the right selection of top quality products and services to you through
        no-frills,
        fairly priced, and unbeatably convenient shopping model.
    </p>


</div>
{% endblock %}