{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <h2>Delivery policy</h2>
    <p>
        <ol>
            <li>Kindly input your preferred delivery location and phone number</li>
            <li>All customers will usually receive a phone call before their deliveries are attempted. If the customer's
                phone is
                switched off or unreachable during that time, delivery will be postponed based on ShopBeta's discretion.
            </li>
            <li>Kindly state when the services or products will be delivered to you.</li>
        </ol>
    </p>
</div>
{% endblock %}