<!-- Footer -->
<footer class="text-center text-lg-start text-white footer mt-4" style="background-color: #3e4551">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">ShopBeta</h5>

                    <p>
                        making shopping easier
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white text-decoration-none">Instagram @ShopBeta</a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none">Facebook @ShopBeta</a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none">Phone Number</a>
                            <ul class="list-unstyled mb-0 ps-2">
                                <li>+234 902 080 0443</li>
                                <li>+234 809 449 2479</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Company</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'general:about_us' %}" class="text-white">About Us</a>
                        </li>

                        <li>
                            <a href="{% url 'general:terms_and_conditions' %}" class="text-white">Terms and Conditions</a>
                        </li>

                        <li>
                            <a href="{% url 'general:promo_discount' %}" class="text-white">Promos and Discounts</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->


                <!--Grid column-->
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Help Center</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white text-decoration-none">How can we help you?</a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none">Do you want to</a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none">Track your order?</a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none">Cancel an order?</a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none">Returns & Refunds?</a>
                        </li>

                        <li>
                            <a class="text-white text-decoration-none">Place an order?</a>
                        </li>

                        <li>
                            <a class="text-white text-decoration-none">Call : 08103728411 </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="mb-4" />


    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-white">ShopBeta</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->